.first-cover-image{
    filter:brightness(50%);
}
/* .height-courses-small-size{
    height: 60%;
} */


@media (max-width: 768px) {
    .small-height{
        max-height:300px;
        height:auto;
    }

    .small-text{
        font-size: 20px;
    }
    .small-text-p{
        font-size:7px;
        margin-bottom: 15px;
    }
   .button-height{
    margin-bottom: 10px;
   }
  }
